@import 'tailwindcss/preflight';
@tailwind utilities;
@config "../tailwind.config.ts";

:root {
    --primary: #242424;
    --secondary: rgba(255, 255, 255, 0.87);
    --accent: #2d314d;
    --light-gray: #f4f5f7;
    --highlight: #30c88f;
    --btn: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    --navbar-height: 80px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* @utility bgMobile {

} */

body {
    font-family: font-sans;
    /* color: var(--secondary); */
    /* background-color: var(--primary); */
}
